*{
	padding:0;
	margin:0;
}

.clear:after{
	content:"";
	clear:both;
	display: block;
	height:0;
}

.background{
	background: rgba(243,245,247,1);
}

.nav{
	height:101px;
	width:1200px;
	margin:0 auto;
}
.nav .nav-first{
	display: inline-block;
	margin-top: 29px;
	margin-left:8px;
	font-size:40px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(0,164,255,1);
	float:left;
}

.nav ul{
	list-style-type: none;
	display: inline-block;
}

a{
	text-decoration: none;
}

.left{
	float:left;
}

.nav ul li{
	margin-top: 42px;
	text-align: center;
}

.nav li:first-child{
	margin-left:71px;
}

.nav ul li a{
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(5,5,5,1);
}

.nav>p{
	height:1;
}

.nav .long{
	width:90px;
}

.nav li{
	margin-left:21px;
}

.nav ul a{
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(5,5,5,1);
}

.nav li a{
	display: inline-block;
	width:54px;
	height:30px;
}

.nav ul a:hover{
	border-bottom:2px rgba(0,164,255,1) solid;
}

.right{
	float: right;
}

.nav-last{
	display: inline-block;
	margin-right:12px;
	margin-top:40px;
	margin-left: 31px;
}

.nav-last a{
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(102,102,102,1);
}

input[type="text"]{
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
}

.nav form .search-one{
	margin-top:31px;
	text-align:left;
	height:40px;
	width:342px;
	padding-left:18px;
	border:1px #00a4ff solid;
}

.nav form .search-two{
	margin-top: 31px;
	height:42px;
	width:42px;
	vertical-align:bottom; 
	background:rgba(0,164,255,1) url(./search.png) no-repeat center center;
	border:1px #00a4ff solid;	
}

.banner{
	background:rgba(27,3,107,1) url(./banner2.png) no-repeat center center;
	height:420px;
}

.banner>div{
	height:420px;
	width:1200px;
	margin:0 auto;
}

.banner-ul ul{
	list-style-type: none;
	background:rgba(0,0,0,0.3);
	width:170px;
	height: 393px;
	padding-left:20px;
	padding-top:12px;
}

.banner-ul ul a li{
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:#FFF;
	line-height:44px;
	background: url(./narrow1.png) no-repeat;
	background-position:83.5% 50%; 
}

.banner-ul ul a:hover li{
	color:rgba(0, 180, 255, 1);
	background-image: url(./narrow2.png);

}

.hobby{
	display: block;
	width:1200px;
	height:60px;
	margin:8px auto;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 2px 0px rgba(118,118,118,0.2);
}

.hobby ul{
	display: inline-block;
	list-style-type: none;
	line-height: 1em;
}

.hobby ul li{
	width:122px;
	border-left:1px rgba(190,190,190,1) solid;
	text-align: center;
}

.hobby div{
	display: inline-block;
	line-height: 60px;
}

.hobby ul li a{
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:normal;
	color:rgba(5, 5, 5, 1);
}

.hobby ul li:first-child{
	border:none;
	padding-left: 12px;
}

.hobby ul li a:hover{
	font-weight: bold;
	color:rgba(0, 163, 255, 1);
}

.hobby p{
	line-height: 60px;
	margin-right: 61px;
}

.hobby p a{
	font-weight: normal;
	color:rgba(5, 5, 5, 1);
	font-size:14px;
}

.hobby p a:hover{
	color:rgba(0, 164, 255, 1);
}

.STB1{
	height:69px;
	width:1200px;
	margin:0 auto; 
}

.bar1-one{
	font-size:20px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(73,73,73,1);
	margin-top:29px;
}

.bar1-two{
	margin-top:35px;
	margin-right: 31px;
}

.bar1-two a{
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(165,165,165,1);
}

.image{
	height: 554px;
	width: 1200px;
	margin:0 auto;
}

.text-box{
	width:228px;
	height:270px;
	background:rgba(255,255,255,1);
	overflow: hidden;
	margin:0 15px 15px 0;
}

.text-box:hover{
	box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
}

.text-box-one{
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(5,5,5,1);
	margin-top:24px;
	margin-left:23px;
	width:185px;
}

.text-box-two{
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	width:119px;
	color:rgba(153, 153, 153, 1);
	margin-top:18px;
	margin-left:23px;
}

.text-box-two span{
	color:rgba(255, 124, 45, 1);
}


.text-box-last{
	margin:0 0 15px 0;
}

.reset{
	margin-bottom:0px;
}

.rank{
	width:1200px;
	height:77px;
	margin:0 auto;
}

.rank-first{
	font-size:20px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(73,73,73,1);
	padding-top:37px;
}

.rank ul{
	list-style-type: none;
}

.rank ul li a{
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(134, 134, 134, 1);
}

.rank ul li a:hover{
	color:rgba(0, 164, 255, 1);
}

.rank li:first-child{
	margin-left:291px;
}

.rank li{
	margin-top:41px;
	margin-right:68px;
}

.rank-last{
	margin-top:41px;
	margin-right:29px;
}

.rank a{
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(165,165,165,1);
}

.two-text-box{
	width:1200px;
	margin:0 auto;
}

.recommend{
	height:87px;
	width: 1200px;
	margin: 0 auto;
}

.recommend div{
	font-size:20px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(73,73,73,1);
	padding-top:35px;
	padding-left:3px;
}

.text span{
	font-size:30px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(249,224,3,1);
	line-height:36px;
}

.text>div{
	font-size:27px;
	font-family:Microsoft YaHei;
	font-weight:normal;
	color:rgba(255, 255, 255, 1);
	line-height:36px;
}

.text input[type="button"]{
	width:87px;
	height:25px;
	background-color: rgba(255,255,255,0);
	border:1px rgba(249, 224, 3, 1) solid;
	font-size:13px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(249,224,3,1);
	line-height:20px;
	margin-top:12px;
	margin-left:3px;
}

.text{
	position: relative;
	left:25px;
	bottom:232px;
}

.b1{

}

.p{
	width:228px;
	height: 320px;
	overflow: hidden;
}


.p div p{
	display: block;
}

.one span{
	font-size:18px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(255,255,255,1);
	line-height:18px;
}

.p div>p:first-child{
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	padding-top:21px;
	margin-bottom:12px;
	margin-left:29px;
}

.two{
	width: 175px;
	font-size:12px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(255,255,255,1);
	margin-left: 25px;
}

.a{
	position: relative;
	bottom:144px;
	width:228px;
	height:122px;
	background:rgba(0,0,0,1);
	opacity:0.5;
}

.b{
	position: relative;
	bottom:155px;
	width:228px;
	height:122px;
	background:rgba(0,0,0,1);
	opacity:0.5;
}

.last{
	width: 1200px;
	height: 160px;
	margin: 0 auto;
	padding-top: 122px;
	padding-bottom: 140px;
}
.last .left{
	width: 380px;
	height: 160px;
	float: left;
	padding-right: 100px;
}
.second{
	float: left;
	margin-top: 32px;
	margin-bottom: 32px;
	width: 100%;
	height:12px;
	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(102,102,102,1);
	line-height:18px;
}
.third{
	float: left;
	width:120px;
	height:40px;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(0,164,255,1);
	line-height:40px;
	text-align: center;
	border: #00A4FF solid 2px;
}
.last .right{
	width: 100px;
	height: 160px;
	float: left;
	margin-left: 140px;
}
.last .right .top{
	width: 100%;
	height: 45px;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(51,51,51,1);
	line-height:50px;
}
.bottom a{
	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	width:100%;
	height:21px;
	line-height:21px;
	color:black;
}

.last .logo div{
	font-size:36px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(0,163,255,1);
	line-height:21px;
}